<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <h1><%= list.title %></h1>
            <p><%= list.description %></p>

            <a href="/lists/<%= list.id %>/items/new" class="btn btn-success">New Item</a>
            <a href="/lists/<%= list.id %>/edit" class="btn btn-warning">Edit</a>
            <form style="display:initial" action="/lists/<%= list.id %>/destroy" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            
            <hr>

            <h1>Items</h1>

            <ul class="list-group">
                <% list.items.forEach((item) => { %>
                <li class="list-group-item">
                    <a href="/lists/<%= item.listId %>/items/<%= item.id %>/edit"> <%= item.title %> </a>
                    <a href="#" class="btn btn-success btn-sm">Check</a>
                    <a href="/lists/<%= item.listId %>/items/<%= item.id %>/edit" class="btn btn-warning btn-sm">Edit</a>

                    <form style="display:initial" action="/lists/<%= item.listId %>/items/<%= item.id %>/destroy" method="post">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form> </br>
                    
                    <small class="text-muted" id="bodyHelp"><%= item.note %></small>
                </li>
                <% }) %>
            </ul>
        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>